

:root {
    --gBacgrund: #f1f6f9;
    --inboxList:#ffffff;  /* Unreed mails*/
    --search:#e9eef6;
    --composeBtn: #c2e7ff;
    --readMail:#f2f6fc;
    --navBr:#f8fafd;  /* benit the serche*/

}

