.add-note-container {
    max-width: 600px;
    width: 100%;
    margin: auto;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 var(--gray5);
    text-align: start;
    margin-bottom: 60px;
}

.add-note-compact {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    width: 100%;
    height: 46px;
}


.note-more-types,
.note-actions {
    display: flex;
    align-items: center;

}

.note-more-types {
    gap: 20px;
    padding-right: 8px;
}


.note-more-types button {
    width: 24px;
    height: 24px;
    opacity: 0.54;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.note-more-types button:hover {
    opacity: 1;
}

.note-more-types img,
.note-more-types i {
    width: 20px;
    height: 20px;
    color: var(--gray3);
}

.note-more-types .fa-youtube {
    font-size: 18px;
}

/* //expanded// */

.add-note form {
    padding: 12px 16px;
}

.add-note-container.expanded .add-note {
    margin-bottom: 8px;
}

.note-actions {
    justify-content: space-between;
    padding-top: 8px;
    margin-top: auto;
}

.note-actions .save-button,
.note-actions .close-button {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.875rem;
    color: var(--gray5);
    background: none;
    border: none;
    min-width: 70px;
    margin-left: 8px;
    /* transition: background-color 0.2s; */
}

.note-actions .save-button:hover,
.note-actions .close-button:hover {
    background-color: rgba(95, 99, 104, 0.157);
}


/* input */
 input, .note-text-txt,.note-text-txt::placeholder  {
    border: none;
    outline: none;
    border: none;
    padding: 16px;
    color: var(--gray5);
    background: #fff;
    font-family: 'Google Sans', 'Roboto', Arial, sans-serif;
 }
 
.note-text-title::placeholder,
.note-img-title input::placeholder,
.note-video-title input::placeholder,
.note-todos-title input::placeholder,
.note-text-title,
.note-img-title input,
.note-video-title input,
.note-todos-title input {
    margin-bottom: 8px;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.1px;
    font-family: 'Google Sans-Medium', 'Roboto-Medium', Arial, sans-serif;
    font-weight: 500;
}

.note-text-txt::placeholder,
.note-img-url input::placeholder,
.note-video-url input::placeholder,
.note-add-new-todo input::placeholder,
.filter-container input::placeholder,
.note-text-txt,
.note-img-url input,
.note-video-url input,
.note-add-new-todo input {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.2px;
}

.note-text-txt,.note-text-txt::placeholder,
.note-text-title,.note-text-title::placeholder {
    border: none;
    outline: none;
    resize: none;
    padding: 16px;
    color: var(--gray5);
    background: #fff;
 } 

 .note-text-txt,.note-text-txt::placeholder{
    height: 60px;
    overflow: hidden;
 }

.note-img-url input,
.note-video-url input,
.note-text-txt {
    margin-bottom: 12px;
}

.note-img,
.note-video {
    display: flex;
    flex-direction: column;
}

.note-img img {
    width: 100%;
    border-radius: 4px;
    margin-top: 8px;
    border: none;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-top: 8px;
    border: none;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
}