 /* note list */

 .note-list {
    max-width: 1200px;
    width: 100%;
    padding: 0 16px;
 }

 .note-list ul {
    column-count: 5;
    column-width: auto;
    column-gap: 5px;
    padding: 10px;
    list-style-type: none;
    margin-bottom: 60px;
 }

 .note-list li {
    width: 240px;
 }

 .pinned-notes-title,
 .unpinned-notes-title {
    color: rgb(95, 99, 104);
    letter-spacing: .0727272727em;
    font-family: 'Roboto-Medium', Arial, sans-serif;
    font-size: .6875rem;
    line-height: 1rem;
    text-transform: uppercase;
    margin: 32px 32px 8px;
 }