.note-preview {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray2);
    padding: 16px;
    border-radius: 8px;
    transition: box-shadow 0.2s;
    position: relative;
    max-height: 600px;
    width: 100%;
}

.note-preview:hover {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.note-preview .note-actions {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    margin-top: auto;
    padding-top: 12px;
    gap: 8px;
}

.note-preview:hover .note-actions {
    visibility: visible;
    opacity: 1;
}

.note-preview .note-actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    opacity: 0.7;
    transition: opacity 0.2s;
    padding: 0;
}

.note-preview .note-actions button:hover {
    opacity: 1;
    border-radius: 50%;
    background-color: rgba(95, 99, 104, 0.1);
}

.note-preview .note-actions img {
    width: 14px;
    height: 14px;
}
.pin-button {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.54;
    visibility: hidden;
    z-index: 10;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    border-radius: 50%;
}

.note-preview:hover .pin-button {
    visibility: visible;
}

.pin-button:hover {
    opacity: 1;
    background-color: rgba(95, 99, 104, 0.1);
    color:var(--gray5)
}

.pin-button:hover .pin-icon {
    filter: brightness(0.8); 
}

.pin-icon {
    width: 22px;
    height: 22px;
    transition: filter 0.2s ease; 
}