.mail-compose {
    
    width: 600px;
    padding: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* font-family: Arial, sans-serif; */
    position: fixed;
    bottom: 0;
    right: 50px;
}

.mail-compose-header {
    background-color:#f2f6fc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.mail-compose-header h2 {
    font-size: 16px;
    font-weight: normal;
    color: #333;
    margin: 0;
}

.mail-compose .close-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #777;
    transition: color 0.3s;
}

.mail-compose .close-btn:hover {
    color: #000;
}


.mail-compose form {
    display: flex;
    flex-direction: column;
    padding: 0 12px 0;
   
    
}

.mail-compose input,.mail-compose textarea {
    margin: 5px;
    font-size: 14px;
    border: none;
    color: #333;
}

.mail-compose input{
    padding: 8px;
    border-bottom: 1px solid #ccc;
}


.mail-compose input::placeholder, .mail-compose textarea::placeholder {
    color: #999;
}

.mail-compose input:disabled {
    background-color: #f5f5f5;
}

.mail-compose input:focus, .mail-compose textarea:focus{
    border-bottom: 1px solid #666;
    outline: none;
}
.mail-compose textarea {
    resize: none;
    min-height: 380px;
}

.mail-compose-footer{
    display: flex;
    height: 60px;
    padding: 12px 0 16px;
}

.mail-compose button[type="submit"] {
    background-color: #0366d6;
    color: white;
    border: none;
    padding: 8px 20px;
    text-align: center;
    border-radius: 18px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
    align-self: flex-start;
}

.mail-compose button[type="submit"]:hover {
    background-color: #0350a6;
}