.app-header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: var(--bg1);
}

.app-header img{
   height: 60px;
   width: 60px;
}

nav a {
    margin: .5em;
}

nav a.active {
    color: var(--color1);
    font-weight: bold;
    text-decoration: overline;
}

/* mail-header */
.app-header-mail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 8px;
    background-color: #f8fafd;
}

.app-header-mail-container{
    display: flex;
    align-items: center;
    gap: 124px;
}